In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('Problem2_FInalConversions.csv',sep='\t',header=None)
data2= pd.read_csv('Problem2_Site_BrowingBehavior.csv',sep='\t',header=None)
data1.columns =['Timestamp','UserID','Product','cartvalue']
data2.columns =['Timestamp', 'UserID','Website_section_visited']

In [6]:
data2.head()

                 Timestamp  UserID   Website_section_visited
0  2017-07-26 00:01:40.965       0                   product
1  2017-07-26 00:03:18.448       0                   product
2  2017-07-26 00:36:59.028       0                   default
3  2017-07-26 00:41:17.273       0  product-listing-category
4  2017-07-26 00:45:39.197       0                   content

In [11]:
data2[data2.UserID==0].shape

(1407879, 3)

In [7]:
data2.UserID.nunique()

516932

In [8]:
data2.shape

(5535924, 3)

In [13]:
1407879/5535924

0.254316894523841

In [9]:
5535924/516932.0

10.709191924663205

In [10]:
data2.groupby(['UserID']).count()

                     Timestamp  Website_section_visited
UserID
0                      1407879                  1407879
2                           15                       15
5                            2                        2
342391                       7                        7
420372                       2                        2
...                        ...                      ...
9223331925947099393          1                        1
9223332159306941752          5                        5
9223343967635174542          8                        8
9223348075878229938          5                        5
9223367577450368994          1                        1

[516932 rows x 2 columns]

In [3]:
data= pd.merge(data1,data2,how='left',on=['Timestamp','UserID'])
data.shape

(80020, 5)

In [4]:
data.isnull().sum()

Timestamp                      0
UserID                         0
Product                        0
cartvalue                      0
Website_section_visited    77889
dtype: int64

In [16]:
data.head(100)

,Timestamp,UserID,Product,cartvalue,Website_section_visited
0,2017-07-26 00:00:10.465,0,A293532,52.14,product
1,2017-07-26 00:00:12.301,0,H209597,31.50,product-listing-category
2,2017-07-26 00:00:12.301,0,H209597,31.50,product-listing-category
3,2017-07-26 00:00:12.301,0,H209597,31.50,product-listing-search
4,2017-07-26 00:00:12.388,0,H211370,30.48,NaN
...,...,...,...,...,...
95,2017-07-26 00:12:17.419,0,H211560,50.92,NaN
96,2017-07-26 00:12:21.597,0,"H211801,H208820",92.83,NaN
97,2017-07-26 00:12:42.996,0,H211394,44.68,NaN
98,2017-07-26 00:12:43.181,0,J339965,384.76,product
99,2017-07-26 00:12:50.559,0,A293532,52.14,NaN

In [15]:
data2[(data2.Timestamp>'2017-07-26 00:00:12.301' ) &\
      (data2.Timestamp>'2017-07-26 00:00:12.388') & data2.UserID==0]

,Timestamp,UserID,Website_section_visited
0,2017-07-26 00:01:40.965,0,product
1,2017-07-26 00:03:18.448,0,product
2,2017-07-26 00:36:59.028,0,default
3,2017-07-26 00:41:17.273,0,product-listing-category
4,2017-07-26 00:45:39.197,0,content
...,...,...,...
5535919,2017-07-26 23:18:53.789,9221827579306644828,iroa
5535920,2017-07-26 23:19:03.394,9221827579306644828,iroa
5535921,2017-07-26 23:19:11.569,9221827579306644828,product
5535922,2017-07-26 23:21:56.085,9221827579306644828,product
5535923,2017-07-26 23:16:32.835,9223103337073924884,product

In [14]:
data.Website_section_visited.value_counts()

product                     734
product-listing-category    318
home                        264
content                     217
default                     203
cart                        145
iroa                        136
product-listing-search       95
shoplive                     15
product-listing-custom        2
signupcomplete                1
productNotFound               1
Name: Website_section_visited, dtype: int64

In [20]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /Users/saandeep.sreerambatl/anaconda3/lib/python3.8/site-packages (from pandasql) (1.18.5)
Requirement already satisfied: pandas in /Users/saandeep.sreerambatl/anaconda3/lib/python3.8/site-packages (from pandasql) (1.0.5)
Requirement already satisfied: sqlalchemy in /Users/saandeep.sreerambatl/anaconda3/lib/python3.8/site-packages (from pandasql) (1.3.18)
Requirement already satisfied: pytz>=2017.2 in /Users/saandeep.sreerambatl/anaconda3/lib/python3.8/site-packages (from pandas->pandasql) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/saandeep.sreerambatl/anaconda3/lib/python3.8/site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/saandeep.sreerambatl/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas->pandasql) (1.12.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26817 sha256=974e9b04eb54676395feccf044daf9bee6e53b390a30e4d5ac8d9e17a09a81c7
  Stored in directory: /Users/saandeep.sreerambatl/Library/Caches/pip/wheels/ed/8f/46/a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [21]:
import pandasql as ps

In [26]:
data1Q= ps.sqldf("select count(*) from data1 group by UserID")

In [43]:
data1.head()

                 Timestamp  UserID  Product  cartvalue
0  2017-07-26 00:00:10.465       0  A293532      52.14
1  2017-07-26 00:00:12.301       0  H209597      31.50
2  2017-07-26 00:00:12.388       0  H211370      30.48
3  2017-07-26 00:00:14.389       0  A282331      51.00
4  2017-07-26 00:00:16.837       0  H211410      16.74

In [57]:
data1Q= ps.sqldf("""select count(*) as num_products,sum(cartvalue) as cart_value,UserID from data1 group by UserID
                 order by userID""")

In [52]:
data2Q = ps.sqldf("select count(*) as visits,UserID from data2 group by UserID")

In [54]:
data2Q.head()

    visits  UserID
0  1407879       0
1       15       2
2        2       5
3        7  342391
4        2  420372

In [58]:
target_data = pd.merge(data1Q,data2Q,how='inner',on='UserID')
target_data.shape

(40854, 4)

In [59]:
target_data.head()

   num_products  cart_value           UserID   visits
0         20197  1375101.66                0  1407879
1             1       75.34       2941287703        3
2             1       89.96   71023925710020        2
3             1       94.34  394529638495081        3
4             2       84.70  430191686443660       13

In [51]:
data1Q.head(50)

    count  sum(cartvalue)             UserID
0   20197      1375101.66                  0
1       1           75.34         2941287703
2       1           89.96     71023925710020
3       1           94.34    394529638495081
4       2           84.70    430191686443660
5       1           52.14    887103105578626
6       2           78.00    962713767308725
7       1           89.96   1061744603054893
8       1           47.98   1484686624382447
9       1          266.95   1698034351507270
10      5          175.08   2164499318886260
11      1           89.96   2243119619438503
12      1           13.22   2768539785487985
13      1           39.72   3017190391603323
14      1          118.30   3678780214674430
15      1           52.14   3680894349014675
16      1           21.42   3691780313186402
17      1         1999.96   3729758305600473
18      1           52.14   3771133954730063
19      1           48.36   3817439128416145
20      3          110.16   4236873281318028
21      2          139.02   4525998508004520
22      1           18.96   4743222304577563
23      1           20.48   5120716214496478
24      1           30.48   5459017522862655
25      2           92.94   5910628691007396
26      1          157.95   5942997097932061
27      1           44.68   6019530677802700
28      1           39.98   6557803471397238
29      1           35.47   7128808619903086
30      2          174.08   7631317669886191
31      1          105.28   7986561692993997
32      1          208.20   8117607382545796
33      1           89.96   8212320229445528
34      1          129.76   8547406904237333
35      1           33.48   9092801017137842
36      1           89.96   9124643877319241
37      1           39.70   9231473715853906
38      1           52.14   9826449072509252
39      1           52.14   9869495672355198
40      1           27.50   9913093138804996
41      1           52.14  10202462195624027
42      1           74.22  10633068894717239
43      1           37.98  10640926020291176
44      1           40.30  10786233746069076
45      1           45.75  11036083410680699
46      4          206.16  11356892464255260
47      1           52.14  11412912710646255
48      1           25.48  11577446393801324
49      1           89.96  11900915251252361

In [24]:
data1.UserID.nunique()

41009

In [25]:
data2.UserID.nunique()

516932

In [ ]:
#take only the userid in data2, which are part of data1

In [27]:
data2Q = ps.sqldf("select count(*) from data2 group by UserID")

In [28]:
type(data1Q)

pandas.core.frame.DataFrame

In [31]:
data1Q.reset_index(inplace=True)

In [33]:
data1Q.columns =['UserID','Product_bought']
data2Q.reset_index(inplace=True)
data2Q.columns=['UserID','visits']

In [37]:
data1Q.shape

(41009, 2)

In [36]:
data2Q.shape

(516932, 2)

In [38]:
target_data = pd.merge(data1Q,data2Q,how='left',on='UserID')
target_data.shape

(41009, 3)

In [40]:
target_data['target']=target_data['Product_bought']/target_data['visits']

In [41]:
target_data.head()

   UserID  Product_bought   visits    target
0       0           20197  1407879  0.014346
1       1               1       15  0.066667
2       2               1        2  0.500000
3       3               1        7  0.142857
4       4               2        2  1.000000

In [42]:
data.head()

,Timestamp,UserID,Product,cartvalue,Website_section_visited
0,2017-07-26 00:00:10.465,0,A293532,52.14,product
1,2017-07-26 00:00:12.301,0,H209597,31.50,product-listing-category
2,2017-07-26 00:00:12.301,0,H209597,31.50,product-listing-category
3,2017-07-26 00:00:12.301,0,H209597,31.50,product-listing-search
4,2017-07-26 00:00:12.388,0,H211370,30.48,NaN